../rebuff/server/.env
.DS_Store
__pycache__
node_modules
.idea/
.next
.env
py-client/__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
py-client/dist/
py-client/build/
.pytest_cache/
py-client/.pytest_cache/
.vscode